<!DOCTYPE html>
<html>
  <head>
    <title>Office Pong</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
